.search-result-container {
    position: absolute;
    top: 45px;
    z-index: 1;
    margin: 10px 0 0 5px;
    background-color: var(--secBgColor);
    min-width: 185px;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.sr-container {
    min-width: 100px;
    height: 46px;
    border-radius: 10px;

}
.sr-container:hover {
    background-color: var(--thiBgColor);
    border-radius: 8px;
}

.search-result {
    height: 46px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin: 0;
}


.search-result-name {
    padding-right: 70px;
}


.search-result-relation {
    font-size: 12px;
    color: var(--textColor);
}

.search-result-more {
    color: var(--mainColor);
}

.search-result-history-text {
    font-size: 12px;
    text-align: center;
    color: var(--textColor);
}

.search-add-friend {
    position: relative;
    right: 10px;
    float: right;
    top: -30px;
    font-size: 12px;
    color: var(--mainColor);

}
.search-add-friend:hover {
    cursor: pointer;
    text-decoration: underline;
}

.search-result-more {
    min-width: 150px;
}