.search-result-container {
    position: absolute;
    top: 45px;
    z-index: 1;
    margin: 10px 0 0 5px;
    background-color: var(--secBgColor);
    min-width: 185px;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.sr-container {
    min-width: 200px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.sr-container:hover {
    background-color: var(--thiBgColor);
    border-radius: 8px;
}

.search-result {
    padding: 5px 10px 5px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin: 0;
    min-width: 120px;
}


.search-result-name {

    padding-right: 20px;
}


.search-result-relation {
    font-size: 12px;
    color: var(--textColor);
}

.search-result-more {
    color: var(--mainColor);
}

.search-result-history-text {
    font-size: 12px;
    text-align: center;
    color: var(--textColor);
}

.add-friend-container {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--mainColor);
    min-width: 80px;
    cursor: pointer;
}
.add-friend-container:hover span {
    color: white;

}
.add-friend-container:hover {
    background-color: var(--mainColor);
    border-radius: 0 10px 10px 0;
    opacity: 0.8;
}

.search-result-more {
    min-width: 150px;
}

.search-result-avatar-container {
    width: 60px;
    display: flex;
    align-items: center;
}

.search-result-avatar {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: auto;

}