.form-container {
    width: 300px;

    background-color: #242526;
    margin: 100px auto;
    border-top: 1px solid green;
    padding: 20px 50px;
}
.form-container h2{
    margin-bottom: 30px;
    text-align: center;
}

.form-header {
    color: grey;
    margin: 10px 0;
    text-align: left;
}

.get-form input {
    width: 95%;
    height: 40px;
    font-size: 20px;
    background-color: #18191a;
    border: none;
    transition: border 2s;
    padding: 5px 0 5px 15px;
}
.get-form input:hover {
    border: none;
}
.get-form input:focus {
    outline: none;
}

div.correct-data {
    width: 100%;
    height: 1px;
    background-color: green;
}


.get-form button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin: 20px 0;
    background-color: green;
    border: none;
}
.get-form button:hover {
    cursor: pointer;
}
.forgot-password {
    font-size: 13px;
    float: left;
    margin-top: 10px;
}

.signup-link {
    font-size: 13px;
}

.err-message {
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;

}

.error p {
    color: red;
    margin: 10px 0;
}

.hide {
    display: none;
}