.home-container {
    padding: 30px;
}
.registered-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.name-card {
    width: 250px;
    height: 110px;
    background-color: #242526;
    padding: 20px;
    margin: 15px;
    border-top: 1px solid green;
}
.name-card-text {
    font-size: 11px;
    color: var(--textColor);
    padding: 2px 0;
}
.design-line {
    width: 500px;
    height: 1px;
    background-color: green;
    margin-top: 10px;
}