.search-result-comp-container {
    display: flex;

}
.search-filters {
    width: 300px;
    background-color: var(--secBgColor);
    height: 100%;
    position: fixed;
    z-index: 5;
    border-right: 1px solid #393a3b;
    padding: 10px;
}
.search-filters h2 {
    font-size: 20px;
}
.search-filters h4 {
    font-size: 16px;
    padding: 10px 0;
}
.search-filters-header {
    width: 100%;
    border-bottom: 1px solid #393a3b;
}
.search-filters-header p {
    padding: 10px 0;
}
.search-filter {
    width: 100%;
    margin: 0;
    padding: 15px 20px;
    border-radius: 10px;
}
.search-filter:hover {
    background-color: var(--thiBgColor);
    cursor: pointer;
}


.search-result-comp-content {
    min-width: 440px;
    margin-left: 400px;
}
.search-result-comp-name:hover {
    color: var(--mainColor);
    text-decoration: underline;
}
.search-result-comp-usernames {
    min-width: 430px;
    background-color: var(--secBgColor);

    margin: 2vw;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px, rgba(0, 0, 0, 0.08) 0 1px 2px;

    display: flex;
    justify-content: space-between;
}


.search-result-header {
    width: 210px;
}

.search-result-details span {
    color: var(--textColor);
    font-size: 12px;
    margin-right: 5px;
}
.search-add-friend {
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: right;

    margin-right: 25px;
}


.search-result-add-friend {
    float: right;
    color: white;
    font-size: 12px;
    position: relative;
    left: 10px;
    top: 0;
    padding: 10px;
    background-color: var(--mainColor);
    border-radius: 8px;
    cursor: pointer;
}
.search-result-add-friend:hover {
    opacity: 0.8;
    text-decoration: darkgreen;
}

.active-filter {
    background-color: var(--thiBgColor);
}

.search-box {
    min-width: 300px;
    display: flex;
    padding: 10px;
    cursor: pointer;
}


.sr-comp {
    width: 155px;
    margin-left: 12px;
    margin-top: 5px;
}

.sr-avatar {
    width: 50px;
    height: 50px;
    background-size: cover;
}